body{
  background-size: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.box{
  background-color: #000;
  opacity: .5;
  height: 40vh;
  width: 100vh;
  border: 2px solid #fff;
  border-radius: 30px;
  margin-top: 5vh;
  margin-left: 46.7%;
  color: white;
  font-family: 'Syncopate', sans-serif;
}
.title{
  margin-left: 3vw;
  font-size: 2em;
  font-style: italic;
}
