body{
  background-size: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.box{
  background-color: rgba(0,0,0,.6);
  border: 2px solid #fff;
  border-radius: 30px;
  margin-top: 3vh;
  margin-left: 46.7%;
  color: white;
  font-family: 'Syncopate', sans-serif;
  z-index:1;
  padding-top: 1.5vh;

}
.box :hover{
  font-style: normal;
}
.title{
  margin-left: 3vw;
  font-size: 2em;
  font-style: italic;
  position:relative;
  z-index: 3;
}
.sec{
  font-size: 1em;
}
a{
  text-decoration: none;
}
.info{
  font-size: .5em;
  margin: 0 auto;
  margin-top: 1.5vh;
  margin-left: 1.5vh;
  margin-right: 1.5vh;
  border-right: 0;
  border-left: 0;
}
.l{
  margin-bottom: 1.5vh;
}
h3{
  margin-left: 1vw;
}
h2{
  margin-left: 1vw;
}
